<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Responsive Footer Section | CodingNepal</title> -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <footer>
        <div class="main-content">
            <div class="left box">
                <h2>
                    About us</h2>
                <div class="content">
                    <p>
                        Tao is web site implemented by 2 brothers. The purpose is to find forecast and current weather in the city you want.
                        The Web site use OpenWeather Api services.
                    </p>
                    <div class="social">
                        <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                        <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2>Sponsors</h2>
                <div class="content">
                    <div class="logorow1">
                        <span class="fas fa-logorow1-alt"></span>
                        <a href="https://www.rossignol.com/fr/"><img class="logo" src="./assets/Rossignol.png" alt="" /></a>
                        <a href="https://www.thenorthface.fr/"><img class="logo" src="./assets/TheNorthFace.png" alt="" /></a>

                    </div>
                    <div class="logorow2">
                        <span class="fas fa-logorow2-alt"></span>
                        <a href="https://www.salomon.com/fr-fr"> <img class="logo" src="./assets/salomon.png" alt="" /></a>
                        <a href="https://www.les2alpes.com/fr/"> <img class="logo" src="./assets/2alpes.png" alt="" /></a>
                        <a href="https://www.serre-chevalier.com//"> <img class="logo" src="./assets/serre-chevalier.png" alt="" /></a>
                        
                    </div>
                    <div class="logorow3">
                        <span class="fas fa-logorow3-alt"></span>
                        <a href="https://www.reallon-ski.com/"> <img class="logo" src="./assets/reallon.png" alt="" /></a>
                        <a href="https://www.laclusaz.com/telechargements.html"> <img class="logo" src="./assets/la_clusaz.png" alt="" /></a>
                        <a href="https://www.chamonix.com/"> <img class="logo" src="./assets/chamonix.png" alt="" /></a>  
                        <a href="https://www.lesorres.com/en/les-orres-ski-moutain-resort-southern-alps-official-website"> <img class="logo" src="./assets/orres.png" alt="" /></a>   
                            
                            
                            
                    </div>
                    <div class="bottom">    
                        <br> 
                        <span class="credit">Created By CodingNepal 2020 All rights reserved. </span>
                    </div>
                </div>
            </div>
            <div class="right box">
                <h2>
                    Contact us</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">
                                Email *</div>
                            <input type="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">
                                Message *</div>
                            <textarea id=".msgForm" rows="2" cols="25" required></textarea>
                            <br />
                            <div class="btn">

                                <button type="submit">Send</button>
                            </div>
